<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body class="grey-bg">

  <!--서버사이드 렌더링-->
  <div class="white-bg">
    <div class="list-box">
      <h4>
        현재 서버 시각은?
      </h4>
      <p>
        <%= serverTime+' 입니다' %>
      </p>
    </div>

  </div>

</body>

</html>